* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 body {
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
 }
 
 .contanier {  
    background-color: deepskyblue;
    flex-direction: row; /* Este es el valor por defaut */
    flex-direction: column; /* Cambia la direccion del eje original */
    display: flex;
 }
 
 /* 
 Propieades de flexbox para los items
 
 + Flex-basis -> Tamaño del main-size del elemento. Es como un ´width´ ancho base del elemento. 
 
   Cuando flex-direction: row / row-reverse -> flex-basis = ancho
   Cuando flex-direction: column / column-reverse -> flex-basis = alto

   Flex-basis es relativa al espacio disponible del contenerdor. Si no hay espacio suficiente los eementos no creceran mas alla.

   si tengo flex-basis declarado el width/height no funciona, de acuerdo al contexto de direccion del eje principal. 
*/

 .item {
    flex-basis: 100px;
    width: 200px;
    background-color: goldenrod;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid red;
 }

    
