* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 body {
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
 }
 
 .contanier {  
    background-color: deepskyblue;
    display: flex;
 }
   /* 
      Propiedades de Flexbox para Items.
      
      + Flex-grow -> Esta propiedad ajuste el factor de crecimiento de los elementos en funcion el espacio disponible. El valor por defaut es ´auto´.
      
      Esta propiedad recibe valres numericos: 1, 2, 3, 4... El numero que coloquemos es el factor de crecimiento,*/
 .item {
    flex-grow: auto; /* Este es el valor por defaut */
    flex-grow: 2; /* Va hacer que todos los items crescran con el mismo factor */

    width: 200px;
    background-color: goldenrod;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid red;
 }

 .a {
   flex-grow: 10;
   background-color: coral;
 }

 .b {
    flex-grow: 6;
    background-color: cornflowerblue;
 }

 .c {
    flex-grow: 3; /* El item con esta clase, crece con el factor de 2 */
    background-color: crimson;
 }

 .d {
    flex-grow: 1;
    background-color: darkgoldenrod;
 }

    
