* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 body {
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
 }
 
 /* 
   Aling-self -> Se pasa a uno o varios elementos en particular.
   
   Va a alinear en el eje transversal a ese elemento unicamente. Y sobre escribe la propiedad de alig-items y su valor si ha declarado en el contenedor
    
   Recibe los mismos valores que aling-items: 
   
   star, end, center, strecth, baseline*/

 .contanier {  
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    display: flex;
    background-color: deepskyblue;
 }

 .item {
    width: 100px;
    height: 100px;

    background-color: goldenrod;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid red;
 }

 .solito {
   align-self: flex-end;
   /* height: auto; */
 }

    
